@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: "Poppins", sans-serif;
}

:root {
  --red: #d01c28;
  --black: #1E1E1E;
  --white: #FFFFFF;
  --gray: #2e2e2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  height: 72px;
  margin-bottom: 1.5rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

nav ul {
  display: flex;
  gap: 24px;
  align-items: center;
  list-style: none;
}

.hero {
  height: calc(100vh - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 108px;
  font-weight: 800;
  line-height: 102px;
  color: var(--black);
}

.hero p {
  font-weight: 600;
  color: var(--gray);
  max-width: 400px;
}

.hero-button {
  display: flex;
  gap: 40px;
}

.hero-button button {
  padding: 12px 32px;
  font-size: 24px;
}

.secondary-button {
  background: transparent;
  color: var(--gray);
  border: 1px solid var(--gray);
}

.shopping {
  font-size: 14px;
  margin-bottom: 10px;
}

.brand-items {
  display: flex;
  gap: 16px;
  margin-top: 0.2rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}